<!-- {{Inquiry[0].DOC_NUMBER}} -->

<div class="a">
    <h2>Sales details</h2>
    <div class="cardholder" *ngFor="let card of salesdata; index as i">
        <div class="card" id="card{{i}}" style="">
            <!-- <p>SOLD TO{{card.SOLD_TO}}</p> -->
            <!-- <div class="cardhead"> -->
            <!-- <h3>Inquiry Header</h3> -->
            <p>SD_DOC : {{card.SD_DOC}} </p>
            <p>NAME : {{card.NAME}}</p>
            <p>DOC_DATE : {{card.DOC_DATE}}</p>
            <!-- <p>CREATED BY : {{card.ITM_NUMBER}}</p> -->

            <!-- </div> -->
            <!-- <mat-divider></mat-divider> -->
            <!-- <div class="carditem"> -->
            <!-- <h3>Inquiry Item</h3> -->
            <p>MATERIAL : {{card.MATERIAL}}</p>
            <p>REQ_DATE : {{card.REQ_DATE}}</p>
            <p>ITM NUMBER : {{card.ITM_NUMBER}}</p>
            <p>SHORT TEXT : {{card.SHORT_TEXT}}</p>
            <p>REQ QTY : {{card.REQ_QTY}}</p>
            <p>NET PRICE : {{card.NET_PRICE}}</p>
            <p>DOC_TYPE : {{card.DOC_TYPE}}</p>
            <!-- </div> -->
        </div>
    </div>
</div>