.generalbody{
    padding-left: 75px;
}
 
.container {
    padding: 20px;
}
 
table, th,tr, td {
    border: 1px solid black;
  }
 
    .json_container {
        font-size: 20px;
        // padding: 20px;
        // padding-left: 400px;
        // padding-right: 400px;
    }
 
div {
    margin: 0;
    display: flex   ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // font-family: 'Montserrat', sans-serif;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

    // background-color: #f3f3f3;
}
 
.center {
    text-align: center;
}