table {
    width: 100%;
    // height: 50%;
  }
button{
  background-color: darkred;
  color: white;
}
h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-left: 10px;
}
mat-toolbar{
  // z-index: 100;
  // position:fixed;  
  background-color:unset;
}