<div class="a">
    <h2>Inquiry Details</h2>
    <div class="cardholder" *ngFor="let card of Head; index as i">
        <div class="card" id="card{{i}}">

            <div class="cardhead" (click)="onClick(card.DOC_NUMBER)">
                <!-- <h3>Goods head</h3> -->
                <p>DOC_NUMBER : {{card.DOC_NUMBER}}</p>
                <P>SOLD_TO : {{card.SOLD_TO}}</P>
                <P>REC_DATE : {{card.REC_DATE}}</P>
                <p>REC_TIME :{{card.REC_TIME}}</p>
                <P>CREATED_BY : {{card.CREATED_BY}}</P>

            </div>
        </div>
    </div>
</div>