<div style="text-align: center; ">
    <img src="../../assets/images/profilepicture.png" alt=""> <br>
    <span>Nezar Nidam Shafi</span><br> <br>
    <span>B. Tech, Computer Science</span> <br><br>
    <span>Pondicherry Engineering College</span> <br><br>
    <a href="https://github.com/nezarnidam" target="_blank"><img src="../../assets/images/Github.png" alt=""
            style="width: 25px; height: 25px;"></a>
    <a href="https://www.linkedin.com/in/nezar-nidam-4025981a7/" target="_blank"><img
            src="../../assets/images/linked.png" alt="" style="width: 25px; height: 25px;"></a>
    <a href="https://www.hackerrank.com/nezarnidam" target="_blank"><img src="../../assets/images/HackerRank_logo.png"
            alt="" style="width: 25px; height: 25px;"></a>
    <!-- <span></span> <br> -->
    <!-- <span>Native: </span> <br> -->
</div>