<!-- <div class="login">
    <div>
        <h2>Customer login</h2>
        <form (ngSubmit)="onSubmit()" name="testForm" ngNativeValidate>
            <mat-form-field appearance="outline">

                <mat-label>user id</mat-label>
                <input matInput placeholder="enter user id" required>
            </mat-form-field> <br>

            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput placeholder="enter password" type="password" required>
            </mat-form-field> <br>


            <button mat-stroked-button color="dark" [disabled]="!testForm.valid">
                <mat-icon>account_circle</mat-icon>
                Log in
            </button>
        </form>
    </div>
</div> -->

<div>
    <div class=" login">
        <h2>Customer login</h2>
        <form [formGroup]="angForm" ngNativevalidate>
            <mat-form-field appearance="outline">

                <mat-label>Customer id</mat-label>
                <input [(ngModel)]="userid" matInput placeholder="enter customer id" formControlName="custid">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input [(ngModel)]="pass" matInput placeholder="enter password" type="password" formControlName="pass">
            </mat-form-field>
            <br>
            <!-- style="background-color: white; color: darkred; height: 15px; width: 180px;" -->
            <mat-error *ngIf="er">
                wrong credentials
            </mat-error>
            <br>
            <button mat-raised-button (click)="login()" [disabled]=angForm.invalid>
                <mat-icon>account_circle</mat-icon>
                Log in
            </button>
        </form>



    </div>
</div>