<div class="a">

    <div class="container">

        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode',
                     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    ">Customer portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/customer.png" alt="image cant be loaded"> -->
            <!-- <mat-card style="background-color: rgb(224, 224, 224);">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode',
                     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    ">Customer portal</h2>
                </mat-card> -->
            <!-- </div> -->
            <div class="content">
                <!-- <h2>Customer portal</h2> -->
                <p>By clicking on the button below, you will be navigated to Customer login page</p>
                <button mat-button (click)="onCustomerLogin()">click here</button>


            </div>
        </div>

        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
            'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            ">Vendor portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/vendor.jpg"> -->
            <!-- <mat-card style="">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 
                    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    ">Vendor portal</h2>
                </mat-card> -->
            <!-- </div> -->
            <div class="content">
                <!-- <h2>Vendor portal</h2> -->
                <p>By clicking on the button below, you will be navigated to Vendor login page</p>
                <button mat-button (click)="onVendorLogin()">click here</button>
                <!-- <button (click)="onVendorLogin()">Vendor</button> -->
            </div>
        </div>

        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
            'Lucida Sans', Arial, sans-serif;">Employee portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/employee.jpg"> -->
            <!-- <mat-card style="">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                    'Lucida Sans', Arial, sans-serif;">Employee portal</h2>
                </mat-card>
            </div> -->
            <div class="content">
                <!-- <h2>Employee portal</h2> -->
                <p>By clicking on the button below, you will be navigated to Employee login page</p>
                <button mat-button (click)="onCustomerLogin()">click here</button>
            </div>
        </div>
        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
            'Lucida Sans', Arial, sans-serif;">Maintenance portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/employee.jpg"> -->
            <!-- <mat-card style="">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                    'Lucida Sans', Arial, sans-serif;">Employee portal</h2>
                </mat-card>
            </div> -->
            <div class="content">
                <!-- <h2>Employee portal</h2> -->
                <p>By clicking on the button below, you will be navigated to Maintenance login page</p>
                <button mat-button (click)="onCustomerLogin()">click here</button>
            </div>
        </div>
        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
            'Lucida Sans', Arial, sans-serif;">Shop Floor portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/employee.jpg"> -->
            <!-- <mat-card style="">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                    'Lucida Sans', Arial, sans-serif;">Employee portal</h2>
                </mat-card>
            </div> -->
            <div class="content">
                <!-- <h2>Employee portal</h2> -->
                <p>By clicking on the button below, you will be navigated to Shop floor login page</p>
                <button mat-button (click)="onCustomerLogin()">click here</button>
            </div>
        </div>
        <div class="card">
            <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
            'Lucida Sans', Arial, sans-serif;">EHSM portal</h2>
            <!-- <div class="imgbx"> -->
            <!-- <img src="../../../assets/images/employee.jpg"> -->
            <!-- <mat-card style="">
                    <h2 style="   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                    'Lucida Sans', Arial, sans-serif;">Employee portal</h2>
                </mat-card>
            </div> -->
            <div class="content">
                <!-- <h2>Employee portal</h2> -->
                <p>By clicking on the button below, you will be navigated to EHSM login page</p>
                <button mat-button (click)="onCustomerLogin()">click here</button>
            </div>
        </div>


    </div>
</div>