<div class="view">
    <h2>Profile </h2>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Customer id</mat-label>
            <input value="{{custid|number:'1.0'}}" matInput readonly>
        </mat-form-field>
        <button mat-button (click)="OnEdit()">{{btn}}</button>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input [(ngModel)]="fname" matInput [readonly]="!editing">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Second name </mat-label>
            <input [(ngModel)]="sname" matInput [readonly]="!editing">
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="fill">
            <mat-label>Street </mat-label>
            <input [(ngModel)]="street" matInput [readonly]="!editing">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>City </mat-label>
            <input [(ngModel)]="city" matInput [readonly]="!editing">
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="fill">
            <mat-label>State </mat-label>
            <input [(ngModel)]="state" matInput [readonly]="!editing">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Country </mat-label>
            <input [(ngModel)]="country" matInput [readonly]="!editing">
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="fill">
            <mat-label>Post </mat-label>
            <input [(ngModel)]="post" matInput [readonly]="!editing">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Mobile Number </mat-label>
            <input [(ngModel)]="mobilenumber" matInput [readonly]="!editing">
        </mat-form-field>
    </p>
    <p>
        <button id="save" mat-raised-button [disabled]="!editing" (click)="OnSave()">Save</button>
        <!-- <button mat-button (click)="OnCancel()" [disabled]="!editing">Cancel</button> -->
        <button id="cancel" mat-raised-button [disabled]="!editing" (click)="OnEdit()">Cancel</button>

    </p>

</div>